@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Khula');

body {
  margin: 0;
  padding: 0;
  font-family: 'Khula', sans-serif;
}

/*RESET BASIC STYLES*/

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1em;
}

h3 {
  margin: 20px 0px;
}

/*HOME PAGE STYLES*/


.home {

}

.home-logo {
  animation: home-logo-spin infinite 20s linear;
  height: 80px;
}

.home-header {
  padding: 50px;

}
.column1 {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
.column1 > h1 {
  font-size: 45px;
  line-height: 86%;
  margin: 0;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
}
.column2 {
  display: inline-block;
  width: 20%;
  font-size: 10px;
  font-family: 'Khula', sans-serif;
  font-weight: 800;
  vertical-align: top;

}
.contact-item > div {
  display: inline-block;
}


.contact-item > div:nth-of-type(1) {
  width: 50px;
  color: grey;
}


.introsection {
  padding: 110px 20% 100px 20%;
}


.hello {
  /*display: inline-block;*/
  /*width: 20%;*/
  /*border: 1px solid red;*/
  font-size: 25px;
  font-family: 'Khula', sans-serif;
  font-weight: 800; 
}

.intro {
  font-family: 'Khula', sans-serif;
  padding-top: 15px;
  line-height: 1;
}

.recent {
  font-family: 'Khula', sans-serif;
  padding-top: 15px;
}




.home-intro {
  font-family: 'Khula', sans-serif;
  line-height: 20px;

}

.clientpage {


}

/*PRESENTATION (WORK)*/
.displayzone {
}

.asset {
  padding: 30px 10%;
}
.asset img {
  max-width: 100%;
}

.asset video {
  max-width: 100%;
}


/*NAV STYLE*/
.nav {
  position: fixed;
  bottom:0;
  width: 100%;
  padding: 20px 20% 15px 20%;
  color: white;
  background: black;
}

@keyframes home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

