@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Khula|Palanquin|Space+Mono');

body {
  margin: 0;
  padding: 0;
  font-family: 'Palanquin', sans-serif;
}

/*RESET BASIC STYLES*/

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 1em;
}

h3 {
  margin: 20px 0px;
}

/*HOME PAGE STYLES*/


.home {

}

.home-logo {
  animation: home-logo-spin infinite 20s linear;
  height: 80px;
}

.home-header {
  white-space: nowrap;
  padding: 50px;
  border: 1px solid grey;
}
.column1 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  background: yellow;
}
.column1 > h1 {
  font-size: 50px;
  line-height: 86%;
  margin: 0;
  padding: 0;
  font-family: 'Julius Sans One', sans-serif;
}
.column2 {
  display: inline-block;
  width: 50%;
  min-width: 200px;
  font-size: 10px;
  font-family: 'Palanquin', sans-serif;
  font-weight: small;
  vertical-align: top;
  background: chartreuse;
  text-align: center;
}
.contact-items {
  display: inline-block;
  text-align: left;
}
.contact-item > div {
  display: inline-block;
}
.contact-item > div:nth-of-type(1) {
  width: 45px;
  color: grey;
}
.introsection {
  padding: 110px 10% 100px 25%;
  max-width: 600px;
}

.recent {
  padding-top: 15px; 
}
.recent > h3 {
  font-family: 'Palanquin';
  color: #BCBCBC;
  font-size: 12px;
}
.recent > a {
  font-size: 20px;
  display: inline-block;
  margin-right: 40px;
  color: grey;
}

.past {
  padding-top: 15px;
}
.past > h3 {
  font-family: 'Palanquin';
  font-weight: bold;
  color: #BCBCBC;
  cursor: pointer;
  font-size: 12px;
}
.past > h3:hover {
  color:red;
}




.hello {
  /*display: inline-block;*/
  /*width: 20%;*/
  /*border: 1px solid red;*/
  font-size: 42px;
  font-family: 'Palanquin',;
  font-weight: thin; 
}

.intro {
  font-size: 12px;
  font-family: 'Palanquin';
  font-weight: thin;
  padding-top: 15px;
  line-height: 1;
  color: #BCBCBC;

}

  





.home-intro {
  font-family: 'Palanquin', sans-serif;
  line-height: 24px;
  font-size: 15px;
  color: #BCBCBC;

}

.clientpage {


}

/*PRESENTATION (WORK)*/
.displayzone {
}

.asset {
  padding: 30px 10%;
}
.asset img {
  max-width: 100%;
}

.asset video {
  max-width: 100%;
}


/*NAV STYLE*/
.nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px 3% 15px 3%;
  background: black;
}
.nav > h3 {
  font-family: 'Palanquin';
  font-weight: bold;
  color: grey;
  margin: 10px 0px;
  font-size: 16px;
}
.nav > p {
  font-family: 'Palanquin';
  color: grey;
  font-weight: small;
  font-size: 15px;
}

.navPanel {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid yellow;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navPanel > a {
  color: red;
  text-decoration: none;
  padding: 0px 12px;
}
.homebutton {
  font-size: 18px;
}
.previousbutton,
.nextbutton {
  font-family: 'Palanquin';
  font-size: 30px;
  font-weight: light;
  margin-top: -7px;
  display: flex;
} 

@keyframes home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*Grid logo styling*/

.gridcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.gridlogo {
  width: 25%;
  height: 140px;
}
.gridlogo > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.gridlogo > div > img {
  min-width: 30px;
  max-width: 70px;
  width: 50%;
}

/* <a class='gridlogo nba'... */

.gridlogo.nba > div > img {
  max-height: 70px;
}

.gridlogo.microsoft > div > img {
  max-height: 65px;
}

.gridlogo.paypal > div > img {
  min-width: 110px;
}

.gridlogo.googlemaps > div > img {
  min-width: 110px;
}

.gridlogo.ubisoft > div > img {
  min-width: 130px;
}

/*flex stuff*/

/*trigger background assets*/
.backgroundPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .5;
  z-index: -1;
}

.backgroundPosition > img {
  display: block;
}

